# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

GCL_information.md
.env
/venv/
/data/
*.xlsx
*.csv
.vercel
.env*
sharepoint_reservation_app/node_modules/.package-lock.json
sharepoint_reservation_app/node_modules/.bin/tsc
sharepoint_reservation_app/node_modules/.bin/tsserver
sharepoint_reservation_app/node_modules/@types/node/assert.d.ts
sharepoint_reservation_app/node_modules/@types/node/async_hooks.d.ts
sharepoint_reservation_app/node_modules/@types/node/buffer.buffer.d.ts
sharepoint_reservation_app/node_modules/@types/node/buffer.d.ts
sharepoint_reservation_app/node_modules/@types/node/child_process.d.ts
sharepoint_reservation_app/node_modules/@types/node/cluster.d.ts
sharepoint_reservation_app/node_modules/@types/node/console.d.ts
sharepoint_reservation_app/node_modules/@types/node/constants.d.ts
sharepoint_reservation_app/node_modules/@types/node/crypto.d.ts
sharepoint_reservation_app/node_modules/@types/node/dgram.d.ts
sharepoint_reservation_app/node_modules/@types/node/diagnostics_channel.d.ts
sharepoint_reservation_app/node_modules/@types/node/dns.d.ts
sharepoint_reservation_app/node_modules/@types/node/domain.d.ts
sharepoint_reservation_app/node_modules/@types/node/events.d.ts
sharepoint_reservation_app/node_modules/@types/node/fs.d.ts
sharepoint_reservation_app/node_modules/@types/node/globals.d.ts
sharepoint_reservation_app/node_modules/@types/node/globals.typedarray.d.ts
sharepoint_reservation_app/node_modules/@types/node/http.d.ts
sharepoint_reservation_app/node_modules/@types/node/http2.d.ts
sharepoint_reservation_app/node_modules/@types/node/https.d.ts
sharepoint_reservation_app/node_modules/@types/node/index.d.ts
sharepoint_reservation_app/node_modules/@types/node/inspector.d.ts
sharepoint_reservation_app/node_modules/@types/node/inspector.generated.d.ts
sharepoint_reservation_app/node_modules/@types/node/LICENSE
sharepoint_reservation_app/node_modules/@types/node/module.d.ts
sharepoint_reservation_app/node_modules/@types/node/net.d.ts
sharepoint_reservation_app/node_modules/@types/node/os.d.ts
sharepoint_reservation_app/node_modules/@types/node/package.json
sharepoint_reservation_app/node_modules/@types/node/path.d.ts
sharepoint_reservation_app/node_modules/@types/node/perf_hooks.d.ts
sharepoint_reservation_app/node_modules/@types/node/process.d.ts
sharepoint_reservation_app/node_modules/@types/node/punycode.d.ts
sharepoint_reservation_app/node_modules/@types/node/querystring.d.ts
sharepoint_reservation_app/node_modules/@types/node/readline.d.ts
sharepoint_reservation_app/node_modules/@types/node/README.md
sharepoint_reservation_app/node_modules/@types/node/repl.d.ts
sharepoint_reservation_app/node_modules/@types/node/sea.d.ts
sharepoint_reservation_app/node_modules/@types/node/sqlite.d.ts
sharepoint_reservation_app/node_modules/@types/node/stream.d.ts
sharepoint_reservation_app/node_modules/@types/node/string_decoder.d.ts
sharepoint_reservation_app/node_modules/@types/node/test.d.ts
sharepoint_reservation_app/node_modules/@types/node/timers.d.ts
sharepoint_reservation_app/node_modules/@types/node/tls.d.ts
sharepoint_reservation_app/node_modules/@types/node/trace_events.d.ts
sharepoint_reservation_app/node_modules/@types/node/tty.d.ts
sharepoint_reservation_app/node_modules/@types/node/url.d.ts
sharepoint_reservation_app/node_modules/@types/node/util.d.ts
sharepoint_reservation_app/node_modules/@types/node/v8.d.ts
sharepoint_reservation_app/node_modules/@types/node/vm.d.ts
sharepoint_reservation_app/node_modules/@types/node/wasi.d.ts
sharepoint_reservation_app/node_modules/@types/node/worker_threads.d.ts
sharepoint_reservation_app/node_modules/@types/node/zlib.d.ts
sharepoint_reservation_app/node_modules/@types/node/assert/strict.d.ts
sharepoint_reservation_app/node_modules/@types/node/compatibility/iterators.d.ts
sharepoint_reservation_app/node_modules/@types/node/dns/promises.d.ts
sharepoint_reservation_app/node_modules/@types/node/fs/promises.d.ts
sharepoint_reservation_app/node_modules/@types/node/readline/promises.d.ts
sharepoint_reservation_app/node_modules/@types/node/stream/consumers.d.ts
sharepoint_reservation_app/node_modules/@types/node/stream/promises.d.ts
sharepoint_reservation_app/node_modules/@types/node/stream/web.d.ts
sharepoint_reservation_app/node_modules/@types/node/timers/promises.d.ts
sharepoint_reservation_app/node_modules/@types/node/ts5.6/buffer.buffer.d.ts
sharepoint_reservation_app/node_modules/@types/node/ts5.6/globals.typedarray.d.ts
sharepoint_reservation_app/node_modules/@types/node/ts5.6/index.d.ts
sharepoint_reservation_app/node_modules/@types/node/ts5.6/compatibility/float16array.d.ts
sharepoint_reservation_app/node_modules/@types/node/ts5.7/index.d.ts
sharepoint_reservation_app/node_modules/@types/node/ts5.7/compatibility/float16array.d.ts
sharepoint_reservation_app/node_modules/@types/node/web-globals/abortcontroller.d.ts
sharepoint_reservation_app/node_modules/@types/node/web-globals/crypto.d.ts
sharepoint_reservation_app/node_modules/@types/node/web-globals/domexception.d.ts
sharepoint_reservation_app/node_modules/@types/node/web-globals/events.d.ts
sharepoint_reservation_app/node_modules/@types/node/web-globals/fetch.d.ts
sharepoint_reservation_app/node_modules/@types/node/web-globals/navigator.d.ts
sharepoint_reservation_app/node_modules/@types/node/web-globals/storage.d.ts
sharepoint_reservation_app/node_modules/@types/node/web-globals/streams.d.ts
sharepoint_reservation_app/node_modules/typescript/LICENSE.txt
sharepoint_reservation_app/node_modules/typescript/package.json
sharepoint_reservation_app/node_modules/typescript/README.md
sharepoint_reservation_app/node_modules/typescript/SECURITY.md
sharepoint_reservation_app/node_modules/typescript/ThirdPartyNoticeText.txt
sharepoint_reservation_app/node_modules/typescript/bin/tsc
sharepoint_reservation_app/node_modules/typescript/bin/tsserver
sharepoint_reservation_app/node_modules/typescript/lib/_tsc.js
sharepoint_reservation_app/node_modules/typescript/lib/_tsserver.js
sharepoint_reservation_app/node_modules/typescript/lib/_typingsInstaller.js
sharepoint_reservation_app/node_modules/typescript/lib/lib.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.decorators.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.decorators.legacy.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.dom.asynciterable.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.dom.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.dom.iterable.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es5.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es6.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2015.collection.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2015.core.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2015.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2015.generator.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2015.iterable.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2015.promise.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2015.proxy.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2015.reflect.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2015.symbol.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2016.array.include.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2016.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2016.full.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2016.intl.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2017.arraybuffer.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2017.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2017.date.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2017.full.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2017.intl.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2017.object.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2017.string.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2018.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2018.full.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2018.intl.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2018.promise.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2018.regexp.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2019.array.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2019.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2019.full.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2019.intl.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2019.object.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2019.string.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2019.symbol.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2020.bigint.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2020.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2020.date.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2020.full.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2020.intl.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2020.number.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2020.promise.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2020.string.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2021.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2021.full.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2021.intl.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2021.promise.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2021.string.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2021.weakref.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2022.array.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2022.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2022.error.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2022.full.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2022.intl.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2022.object.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2022.regexp.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2022.string.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2023.array.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2023.collection.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2023.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2023.full.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2023.intl.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2024.arraybuffer.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2024.collection.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2024.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2024.full.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2024.object.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2024.promise.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2024.regexp.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2024.sharedmemory.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.es2024.string.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.esnext.array.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.esnext.collection.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.esnext.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.esnext.decorators.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.esnext.disposable.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.esnext.error.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.esnext.float16.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.esnext.full.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.esnext.intl.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.esnext.iterator.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.esnext.promise.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.esnext.sharedmemory.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.scripthost.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.webworker.asynciterable.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.webworker.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.webworker.importscripts.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/lib.webworker.iterable.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/tsc.js
sharepoint_reservation_app/node_modules/typescript/lib/tsserver.js
sharepoint_reservation_app/node_modules/typescript/lib/tsserverlibrary.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/tsserverlibrary.js
sharepoint_reservation_app/node_modules/typescript/lib/typescript.d.ts
sharepoint_reservation_app/node_modules/typescript/lib/typescript.js
sharepoint_reservation_app/node_modules/typescript/lib/typesMap.json
sharepoint_reservation_app/node_modules/typescript/lib/typingsInstaller.js
sharepoint_reservation_app/node_modules/typescript/lib/watchGuard.js
sharepoint_reservation_app/node_modules/typescript/lib/cs/diagnosticMessages.generated.json
sharepoint_reservation_app/node_modules/typescript/lib/de/diagnosticMessages.generated.json
sharepoint_reservation_app/node_modules/typescript/lib/es/diagnosticMessages.generated.json
sharepoint_reservation_app/node_modules/typescript/lib/fr/diagnosticMessages.generated.json
sharepoint_reservation_app/node_modules/typescript/lib/it/diagnosticMessages.generated.json
sharepoint_reservation_app/node_modules/typescript/lib/ja/diagnosticMessages.generated.json
sharepoint_reservation_app/node_modules/typescript/lib/ko/diagnosticMessages.generated.json
sharepoint_reservation_app/node_modules/typescript/lib/pl/diagnosticMessages.generated.json
sharepoint_reservation_app/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
sharepoint_reservation_app/node_modules/typescript/lib/ru/diagnosticMessages.generated.json
sharepoint_reservation_app/node_modules/typescript/lib/tr/diagnosticMessages.generated.json
sharepoint_reservation_app/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
sharepoint_reservation_app/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
sharepoint_reservation_app/node_modules/undici-types/agent.d.ts
sharepoint_reservation_app/node_modules/undici-types/api.d.ts
sharepoint_reservation_app/node_modules/undici-types/balanced-pool.d.ts
sharepoint_reservation_app/node_modules/undici-types/cache-interceptor.d.ts
sharepoint_reservation_app/node_modules/undici-types/cache.d.ts
sharepoint_reservation_app/node_modules/undici-types/client-stats.d.ts
sharepoint_reservation_app/node_modules/undici-types/client.d.ts
sharepoint_reservation_app/node_modules/undici-types/connector.d.ts
sharepoint_reservation_app/node_modules/undici-types/content-type.d.ts
sharepoint_reservation_app/node_modules/undici-types/cookies.d.ts
sharepoint_reservation_app/node_modules/undici-types/diagnostics-channel.d.ts
sharepoint_reservation_app/node_modules/undici-types/dispatcher.d.ts
sharepoint_reservation_app/node_modules/undici-types/env-http-proxy-agent.d.ts
sharepoint_reservation_app/node_modules/undici-types/errors.d.ts
sharepoint_reservation_app/node_modules/undici-types/eventsource.d.ts
sharepoint_reservation_app/node_modules/undici-types/fetch.d.ts
sharepoint_reservation_app/node_modules/undici-types/formdata.d.ts
sharepoint_reservation_app/node_modules/undici-types/global-dispatcher.d.ts
sharepoint_reservation_app/node_modules/undici-types/global-origin.d.ts
sharepoint_reservation_app/node_modules/undici-types/h2c-client.d.ts
sharepoint_reservation_app/node_modules/undici-types/handlers.d.ts
sharepoint_reservation_app/node_modules/undici-types/header.d.ts
sharepoint_reservation_app/node_modules/undici-types/index.d.ts
sharepoint_reservation_app/node_modules/undici-types/interceptors.d.ts
sharepoint_reservation_app/node_modules/undici-types/LICENSE
sharepoint_reservation_app/node_modules/undici-types/mock-agent.d.ts
sharepoint_reservation_app/node_modules/undici-types/mock-call-history.d.ts
sharepoint_reservation_app/node_modules/undici-types/mock-client.d.ts
sharepoint_reservation_app/node_modules/undici-types/mock-errors.d.ts
sharepoint_reservation_app/node_modules/undici-types/mock-interceptor.d.ts
sharepoint_reservation_app/node_modules/undici-types/mock-pool.d.ts
sharepoint_reservation_app/node_modules/undici-types/package.json
sharepoint_reservation_app/node_modules/undici-types/patch.d.ts
sharepoint_reservation_app/node_modules/undici-types/pool-stats.d.ts
sharepoint_reservation_app/node_modules/undici-types/pool.d.ts
sharepoint_reservation_app/node_modules/undici-types/proxy-agent.d.ts
sharepoint_reservation_app/node_modules/undici-types/readable.d.ts
sharepoint_reservation_app/node_modules/undici-types/README.md
sharepoint_reservation_app/node_modules/undici-types/retry-agent.d.ts
sharepoint_reservation_app/node_modules/undici-types/retry-handler.d.ts
sharepoint_reservation_app/node_modules/undici-types/round-robin-pool.d.ts
sharepoint_reservation_app/node_modules/undici-types/snapshot-agent.d.ts
sharepoint_reservation_app/node_modules/undici-types/util.d.ts
sharepoint_reservation_app/node_modules/undici-types/utility.d.ts
sharepoint_reservation_app/node_modules/undici-types/webidl.d.ts
sharepoint_reservation_app/node_modules/undici-types/websocket.d.ts
